#box {
    position: relative;
    font-family:"Inconsolata";
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: auto;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #111118;
    border: 30px solid #111118;
    border-spacing: 100px;
    max-width: 1020px;
}

b {
    color:rgb(240, 180, 40);
}

h {
    color:rgb(240, 180, 40);
}

h1, h2, h3, h4, h5, h6 {
    color:rgb(240, 180, 40);
}

br {
    display: block;
    content: "";
    margin-top: 20px;
}

a {
    margin-right: auto;
    color: #ffffff;
    font-family:"Inconsolata";
    font-size: 20px;
}

body {
    background-image: url("res/bg.png");
    background-position: center;
    background-repeat: repeat;
}

td {
    text-align: center;
}

#a1, #a2, #a3 {
    left:50%;
    position: relative;
    color:#eee;
    opacity:0.6;
    background:rgb(60,82,96);
    font-family:"Inconsolata";
    text-align:center;
    font-size: 24px;
    width:14%;
    max-width: 250px;
    margin-top: 20px;
    height:30px;
    padding:6px 6px;
    display: inline-block;
}

#a1 {
    transform: translateX(-180%);
}

#a2 {
    transform: translateX(-150%);
}

#a3 {
    transform: translateX(-120%);
}

#a1:hover, #a2:hover, #a3:hover {
    background:rgb(250, 190, 90);
    color:#000
}

@font-face {
    font-family: "Inconsolata";
    src: url(font.ttf) format("truetype");
}
