#ta {
    position: relative;
    font-family:"Inconsolata";
    color: rgb(255, 255, 255);
    font-size: 22px;
	margin: auto;
	width: 60%;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: #111118;
    border: 20px solid #111118;
    border-spacing: 100px;
}

b {
    color:rgb(240, 180, 40);
}

h {
	color:rgb(240, 180, 40);
}

h1, h2, h3, h4, h5, h6 {
	color:rgb(240, 180, 40);
}

br {
    display: block;
    content: "";
    margin-top: 20px;
}

a {
    margin-right: auto;
    color: #ffffff;
    font-family:"Inconsolata";
    font-size: 20px;
}

body {
	background-image: url("res/bg.png");
    background-position: center;
    background-repeat: repeat;
}

#a1, #a2, #a3 {
    left: 50%;
    position: absolute;
    color:#eee;
    opacity:0.6;
    background:rgb(60,82,96);
    font-family:"Inconsolata";
    text-align:center;
    font-size: 24px;
    margin-top: -60px;
	width:11%;
    height:30px;
    padding:6px 6px;
}

#a1 {
	margin-left: -14%;
	transform: translateX(-50%);
}

#a2 {
	margin-left: 0;
	transform: translateX(-50%);
}

#a3 {
	margin-left: 14%;
	transform: translateX(-50%);
}

#a1:hover, #a2:hover, #a3:hover {
    background:rgb(160,182,196);
    color:#000
}

@font-face {
    font-family: "Inconsolata";
    src: url(font.ttf) format("truetype");
}
